.category { 
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 150px;
	color: #FFF;
	font-size: 2em;
}

.category-lg { 
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 300px;
}

.category .row div {
	padding-left: 30px;
}

.navbar-nav {
	font-family: 'Roboto Condensed', sans-serif;
}

#icon-signin {
	margin-right:0px
}
