.category { 
	font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
	line-height: 150px;
	color: #FFFFFF;
	font-size: 2em;
}

.category-lg { 
	font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
	line-height: 300px;
}

.category .row div {
	padding-left: 30px;
}
